<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Space Find</title>
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/bootstrap.js">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/fontawesome-free-5.13.1-web/css/all.css">

</head>
<body>
    <header>
        <img src="/logo.jpg" >
    </header>

    
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Spacefind</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/accommodations">Accommodations <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right">
       
              <% if(!currentUser){ %>
                <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Students
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/student/login">Login</a>
                    <a class="dropdown-item" href="/student/register"><i class="fas fa-user-plus"></i>register</a>
                    <div class="dropdown-divider"></div>
                    <!-- <a class="dropdown-item" href="/accommodations/new">View Accomodations</a> -->
                  </div>
                </li>
              <li class="nav-item dropdown active">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Admins
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/admin/login">Login</a>
                    <a class="dropdown-item" href="/admin/register"><i class="fas fa-user-plus"></i>register</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/accommodations/new">Add Accomodation</a>
                  </div>
                </li>
           <% }else if(currentUser && (currentUser.isAdmin) ) {%>
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admins
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/logout">Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/accommodations/new">Add Accomodation</a>
              </div>
            </li>
            <li class="nav-item active">
              <i class="fas fa-user fa-lg" title="logged in with <%= currentUser.username %>"></i>
            </li>

            <% }else if(currentUser && !(currentUser.isAdmin) ) {%> %> 

              <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Students
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/logout">Logout</a>
                  <div class="dropdown-divider"></div>
                  <!-- <a class="dropdown-item" href="/accommodations/new">View Accomodations</a> -->
                </div>
              </li>

              <li class="nav-item active">
                <i class="fas fa-user fa-lg" title="logged in with <%= currentUser.username %>"></i>
              </li>

            <% } %> 
                

               
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="/register">SignUp</a>
                </li>
                -->
            </ul>
        </div>
    </nav>

   
   
