<%- include('partials/header') %>

<div class="container">
    <div class="apply-container">
        <h4>Confirmation page</h4>
        <p><strong>Student Details</strong></p>
        <p>
            Your application has been captured for further processing. Please use your Student/ID/Passport number as reference when communicating with us and the accommodation providers.
        </p>
    </div>
</div>

<%- include('partials/footer') %>