<%- include('partials/header.ejs') %>

<div class="Container ">
    <div class="search-container">
        <form action="/accommodations" method="POST">
            <div class="input-group md-3 form-group">
                <input name="place" type="text" class="form-control" placeholder="Where do you want to stay" >
                <div class="input-group-append">
                 <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button> 
                </div>
            </div>
    </form>
    </div>
</div>

<%- include('partials/footer.ejs') %>