<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="form-container">
        <div class="form-head">
            <h1>New Residence Registration</h1>
        </div>
        <form action="/accommodations/<%= accommodation._id %>/residences/new" method="POST" enctype="multipart/form-data">
            <div class="form-group row">
                <input class="form-control col" type="text" name="residence[name]" placeholder="Residence Name" required>
            </div>
            <div class="form-group row">
                <input class="form-control col" type="address" name="residence[address]" placeholder="Residence Address" required>
            </div>
            <div class="form-group row">
                <input class="form-control col" type="number" name="residence[NoOfStudents]" required placeholder="Number of students living">
            </div>
            <div class="form-group row">
                <input class="form-control col" type="number" name="residence[price]" placeholder="Monthly Rental" required>
            </div>
            <div class="form-group row">
                <input class="form-control col" type="text" name="residence[type]" placeholder="Type Of Residence" required>
            </div>

            <div class="form-group row">
                <div class="custom-file form-control col">
                    <input type="file" name="multi-files" id="input-files" class="custom-file-input" multiple required accept="image/png">
                    <label for="file" class="custom-file-label">Choose Residence Images</label>
                </div>
            </div>
            <!-- <div class="form-group row">
                <div class="form-control col">
                    <select name="residence[status]" id="">
                        <option value="Available" selected>Available</option>
                        <option value="Booked">Booked</option>
                    </select>
                </div>
            </div> -->

            <div class="form-group row">
                <div class="form-control col">
                    <input type="checkbox" name="residence[status]" id="status" checked> Available
                </div>
            </div>
            <div class="form-group row">
                <textarea class="form-control col" name="residence[description]" id="description" cols="30" rows="10" placeholder="Write residence description..." required></textarea>
                
            </div>
            <div class="form-group row">
                <input class="form-control" type="submit" value="Submit">
                <input class="form-control" type="submit" value="Reset">
            </div>
            
        </form>
    </div>
</div>


<%-include('../partials/footer.ejs') %>