body{
    background: url("/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card h4{
    color: royalblue;
}

header{
    text-align: center;
}
header img{
    height: 100px;
    width: 100%;
}

nav{
    margin: 0;
    background-color: #333;
    padding: 15px;
    padding-left: 0;
}

.navbar{
    padding-right: 50px;
}

.dropdown .dropdown-menu a:hover
{
  color: #fff;
  background-color: royalblue;
  border-color: #fff;
}


li i{
    margin-right: 5px;
}


nav li{
    padding: 3px;
}

nav button{
    color: white;
}


.card img{
    width: 100%;
    height: 250px;
}
.card{
    width: 18rem;
    margin: 10px;
    padding: 0;
    opacity: 90%;
}

.img-thumbnail{
    padding: 0;
    border-radius: 25px;
    border-radius: 25px 25px 0 0;
    margin-bottom: 10px;
}

.accommodation{
    border: 0.5px solid black;
    border-radius: 25px;
}
.accommodation img{
    height: 450px;
    width: 100%;
    margin-top: 0 ;
    margin-left: 0;
}
#accommodation-header{
    background-color: rgb(209, 222, 248);
}
.apply{
    float: right;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: royalblue;
    border: 2px solid white;
}
.form-container input[type="submit"],input[type="reset"] {
    background-color: royalblue;
    border-radius: 25px;
    color: white;
    border: 2px solid white;
}

.form-container{
    background-color: white;
    padding: 10px 30px;
    margin-bottom: 70px;
    margin-top: 30px;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid royalblue;
    opacity: 90%;
}

.form-head{
    color: royalblue;
    text-align: center;
    background-color: white;
    margin-bottom: 30px;
}

.accommodations-container{
    background-color: white;
    padding: 10px 30px;
    margin-bottom: 70px;
    margin-top: 25px;
    margin-left: 10%;
    margin-right:10%;
    border: 1px solid royalblue;
   opacity: 90%;
}

.info-button{
    float: right;
    height: 50px;
    width: 90px;
    bottom: 0;
    background-color: royalblue;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
}

hr{
    color: royalblue;
}

.show-button-form{
    border: none;
}

.show-container{
    background-color: white;
    padding: 5px;
    border: 1px solid royalblue;
    margin-top: 30px;
    opacity: 90%;
}
.show-container img{
    height: 400px;
    width: 100%;
}

.residences-container{
    background-color: #e4e6e8;
    width: 100%;
    padding: 20px;
    margin-bottom: 70px;
}

.view-container{
    background-color: white;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 70px;
    padding: 5px;
    border: 1px solid royalblue;
    opacity: 90%;
    border-radius: 20px;
}

.view-container header{
    color: white;
    background-color: royalblue;
    text-align: center;
    border-radius: 25px;
}

.residence-photos{
    width: 100%;
    margin: 20px 0 20px 0;
    
}

.residence-photos img{
    height: 400px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.view-residence-button{
   height: 35px;
   width: 90px;
   margin-right: 8px;
   background-color: royalblue;
   background-color: royalblue;
   color: white;
   border-radius: 25px;
   border: 2px solid white;
  
}

.view-container form{
    display: inline;
}

.delete-residence-button{
    /* display: none; */
    height: 50px;
    width: 150px;
    background-color: red;
    border-radius: 25px;
    color: white;
    border: 2px solid white;
    bottom: 1px;
    
}

.delete-accommodation-button{
    color: white;
    left: 25px;
    position:absolute;
    bottom:15px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: red;
    border: 2px solid white;
}

.add-admin-button{
    color: white;
    right: 25px;
    position:absolute;
    bottom:15px;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color:royalblue;
    border: 2px solid white;
}


.new-residence-button{
    width: 160px;
    height: 50px;
    background-color: royalblue;
    color: white;
    border-radius: 25px;
    border: 2px solid white;
}

.apply-container{
    background-color: white;
    height: 200px;
    opacity: 90%;
    padding: 15px;
}
.apply-container h4{
    color: royalblue;
    text-align: center;
  
}

.form-control{
    margin: 2px 12px;
}

.landing-btns{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    padding: 25px;
    text-align: center;
}

.landing-btns input{
    width: 180px;
    height: 50px;
    border-radius: 25px;
    color: white;
    background-color: royalblue;
    border: 1px solid transparent;
    margin: 3px
}

.landing-btns input:hover{
    background-color: red;
}

footer{
    color: white;
    margin-top: 30px;
    width: 100%;
    background-color: #333;
    padding: 5px;
    text-align: center;
    bottom: 0;
    position: fixed;
    margin-bottom: 0;
}
footer i{
    margin: 5px;
}
footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: none;
    color: red;
}

@media (max-width: 767.98px) {
    header img{
        height: 70px;
    }
    .accommodations-container, .show-container, .view-container {
      max-width: 100% !important;
      margin-left: 10px !important;
      margin-right: 10px !important;
      padding: 5px;
      
    }
    .form-container{
      max-width: 100% !important;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 5px !important;
      margin-right: 5px !important;
      padding: 5px;
    }
    .form-container input{
        width: 90%;
    }
    .form-container select{
        width: 90%;
    }

    .show-container-buttons{
        margin-top: 200px;
    }

    .container{
        max-width: 100% !important;
        padding: 0;
    }
    .card{ 
        width: 100%;
    }
    .view-container{
        width: 100% !important;
        margin: 0 !important;
        margin-bottom: 50px !important;
    }
    .residence-photos{
        width: 100% !important;
        margin: 0 !important;
    }
    .residence-photos img{
        height: 300px;
    }
  }