<%- include('../partials/header.ejs') %>

<div class="container">
    <div class="form-container">
        <div class="form-head">
            <h1>New Residence Registration</h1>
        </div>


        <form action="/accommodations/new" method="POST">
            <div class="form-group row">
                <input class="form-control col" type="text" name="name" placeholder="Accommodation Name">
            </div>
            <div class="form-group row">
                <input class="form-control col" type="address" name="address" placeholder=" Address">
            </div>
            <div class="form-group row">
                <input class="form-control col" type="tel" name="phone" placeholder="Telephone Number">
            </div>
            <div class="form-group row">
                <input class="form-control col" type="text" name="image" placeholder="Image url">
            </div>
            <div class="form-group row">
                <input class="form-control col" type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-group row">
                <textarea class="form-control col" name="description" cols="30" rows="10" placeholder="desrciption"></textarea>
            </div>
            <div class="form-group row">
                <input class="form-control" type="submit" value="Submit">
                <input class="form-control" type="submit" value="Reset">
            </div>
            
        </form>
    </div>
</div>


<%-include('../partials/footer.ejs') %>